<div class="container content mt-4">
    <div class="row">
        <div class="col-md-6">
            Hola
        </div>
        <div class="col-md-6">
            Mundo!
        </div>
    </div>
</div>
