
    <div	class="card-content">
        <div	class="card-img">
            <img	src="https://placeimg.com/380/230/nature"	alt="">
                <span><h4>{{position}}</h4></span>
        </div>
            <div class="card-desc">
                <h3>{{destino.nombre}}</h3> 
                <p>servicios</p>
                <ul>
                    <li *ngFor="let servicio of destino.servicios">
                        <span [ngSwitch]="servicio">
                            <i *ngSwitchCase="'desayuno'" style="color:red"> {{servicio}} </i>                
                                <i *ngSwitchDefault> {{servicio}} </i> 
                        </span>        
                    
                    </li>


                </ul>
                    <a	href="#" class="btn-card" (click)="ir()">Ir!</a>			
                    <span *ngIf="destino.isSelected()">
                    <span ngNonBindable >  --PREFERIDO--</span>
                </span>
                    <a routerLink="/destino">Ver Detalle</a>
            </div>
    </div>




